body{
    margin: 0;
    padding: 0;
}
.main-container{
    height: 100%;
    width: 100%;
    background-color: #cecece;
    float: left;
}
.header{
    height: 50px;
    width: 100%;
    background-color:#1fa67a;
    float: left;
}
.logo{
    width: 10%;
    height: 100%;
    background-color:#1fa67a;
    float: left;
}
.logo img{
    height: 80%;
    margin-left: 20%;
    margin-top: 3%;
}
.menu{
    width: 80%;
    height: 100%;
    background-color:#1fa67a;
    float: left;

}
.menu ul{
    margin: 0;
    height: 100%;

}
.menu >ul li {
    list-style-type: none;
    float: left;
    background-color: #1fa67a;
    margin-left: 20px;
    height: 70%;
    width: 100px;
    padding-left: 30px;
    padding-top: 15px;
}
.menu>ul li a{
    color: white;
    text-decoration: none;
}
.notifications{
    width: 10%;
    height: 100%;
    background-color: #1fa67a;;
    float: left;
}
.notifications >ul li a{
    margin: 0;
    float: left;


}

.notifications >ul li {
    list-style-type: none;
    width: 30%;
    float: left;

}
.notifications > ul {
    margin: 0;
    padding: 0;
}

.notifications >ul li a img{
    float: left;
    height: 100%;
    width: 70%;
    float: left;
    padding-top: 10px ;

}
.content-left{
    width: 70%;
    height: 100%;
    padding-top: 100px;
    padding-left: 150px;
    float: left;
}
.post{
    width: 100%;
    height: 500px;
    background-color: #1fa67a;
    border-radius: 10px;
    float: left;
    margin-bottom: 50px;

}
.user-img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    background-color: white;
    margin: 50px 25px 30px 40px;
}
.user-img >img{
    width: 100px;
    margin: 20px;
}
.user-name{
    width: 120px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    margin-left: 30px;
    padding-left: 25px;
    margin-left: 40px;
}
.user-name >h3{
    padding-top: 13px;
    color: #1fa67a;
}
.rating{
    width: 150px;
    height: 50px;
    margin-left: 30px;
    margin-top: 25px;
    margin-left: 40px;
}
.rating >img{
    width: 140px;
}
.post-left-content{
    float: left;
}
.post-right-content{
    float: left;
    background-color: white;
    width: 620px;
    height: auto;
    margin: 50px;
    border-radius: 5px;
}
.content-right{
    padding-top: 150px;
    height: auto;
    }
.post-right-content > p{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    font-size: 18px;
    color:#a5a9ac;
}
.post-right-content>.read-more>a> p{
    float: right;
    color: #FEC711;
    margin: 0px;
    margin-right: 40px;
}
.post-right-content>h2{
    font-size: 30px;
    text-align: center;
    color: #a5a9ac;
}
.post-right-content>hr{
    margin: 0;
    padding: 0;
}
.navigation{
color: #1fa67a;
    width: 13%;
    height: 500px;
    background-color: #1fa67a;
    float: left;
    margin-left: 5%;
    border-radius: 10px;
    margin-bottom: 50px ;

}

.navigation >.cat-title{
    padding-left: 30px;
}
.navigation >.cat-title h2{
    color: #FEC711;
}
.navigation >a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0px;
    padding: 0px;
}
.navigation>a p{
    margin-bottom: 17px;
    margin-top: 18px;
    padding: 0px;
}
.navigation >.cat-title h2{
}
.navigation >img{
    height: 500px;
    width: 100%;
    border-radius: 10px;

}
.navigation >a img{
    height: 40px;
    margin-left: 70px;
}
.navigation >a{
    margin-top: 0px;
}
.footer{
    height: 100px;
    width: 100%;
    background-color:#1fa67a ;
    float: left;
}
.footer > h3{
    color: white;
    text-align: center;
}
/* *********************************
--------------------Read More--------
 ********************************** */
.read-more-content-left{
    width: 70%;
    height: auto;
    padding-top: 100px;
    padding-left: 150px;
    float: left;
}
.read-more-content-left>.post{
    width: 100%;
    height: auto;
    background-color: #1fa67a;
    border-radius: 10px;
    float: left;
    margin-bottom: 50px;

}
.read-more-post-right-content{
    float: left;
    background-color: white;
    width: 620px;
    height: auto;
    margin: 50px;
    border-radius: 5px;
}
.read-more-content-right{
    padding-top: 150px;
    height: 1200px;
}
.read-more-post-right-content > p{
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    font-size: 18px;
    color:#a5a9ac;
}
.read-more-post-right-content>h2{
    font-size: 40px;
    text-align: center;
    color: #a5a9ac;
}
.read-more-post-right-content>.read-more p{
    float: right;
    color: #FEC711;
    margin: 0px;
    margin-right: 40px;
    padding-bottom: 20px;
}

/* *********************************
--------------------Contect Us------
 ********************************** */
.contectUs{
    width: 100%;
    height: auto;
    float: left;
    background-color: honeydew;
    padding-bottom: 50px;
}
.contectUs>h2{
    font-size: 40px ;
    color: #1fa67a;
    text-align: center;

   }
.contectUs>.left-content{
    height: auto;
    width: 40%;
    margin-left: 5%;
    background-color: #1fa67a;
    margin-right: 10%;
    float: left;
    border-radius: 10px;
}
.contectUs>.left-content>h1{
    font-size: 30px;
    color: white;
    margin-left: 30px;
}
.contectUs>.left-content>.contectUs-name>p{
    color: white;
    font-size: 15px;
    margin-left: 50px;
}
.contectUs>.left-content>.contectUs-name>input
{
    margin-left: 50px;
    height: 25px;
    width: 78%;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    padding-left: 2%;
    margin-bottom: 20px;
}
.contectUs>.left-content>.contectUs-email>p{
    color: white;
    font-size: 15px;
    margin-left: 50px;
    width: 200px;
}

.contectUs>.left-content>.contectUs-email>input
{
    margin-left: 50px;
    height: 25px;
    width: 78%;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    padding-left: 2%;
    margin-bottom: 20px;
}

.contectUs>.left-content>.contectUs-message>p{
    color: white;
    font-size: 15px;
    margin-left: 50px;
    width: 200px;
}

.contectUs>.left-content>.contectUs-message>textarea
{
    margin-left: 50px;
    height: 200px;
    width: 78%;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    padding-left: 2%;
    margin-bottom: 20px;
}
.contectUs>.left-content>.contectUs-button{
    float: left;
    margin-left: 50px;
    margin-bottom: 30px;
}
.contectUs>.left-content>.contectUs-button>p {
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
}


.contectUs>.left-content>.contectUs-button>input{
    width: 100px;
    height: 40px;
    background-color: white;
    float: left;

}


.contectUs>.right-content{
    height: auto;
    width: 45%;
    float: left;
}
.contectUs>.right-content>h1{
    color: #1fa67a;
}
.contectUs>.right-content>p{
    color: #1fa67a;
    font-size: 18px;
    margin-right: 5%;
    margin-top: 0px;
}
.contectUs>.right-content>.contectUs-socila>img{
    width: 50px;
}
/* *********************************
--------------------Add Post------
 ********************************** */
.addPost-content{
    width: 100%;
    height: auto;
    background-color:honeydew;
    float: left;
    padding: 0;
}
.addPost-content>h2{
    text-align: center;
    color: #1fa67a;
    font-size: 40px;
    margin:10px 0px 0px 0px;
    padding: 0;

}
.addPost-content>.addPost{

    width: 90%;
    height: auto;
    background-color: #1fa67a;
    border-radius: 10px;
    float: left;
    margin:10px 5% 5% 5%;
}
.addPost-left-content{
    width: 20%;
    height: 500px;
    background-color: honeydew;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    float: left;
    border-radius: 10px;
}
.addPost-left-content>.user-name{
    height: auto;
    margin-left: 0;
    background-color: honeydew;
}
.addPost-left-content>.user-name>input{
    width: auto;
    height: 30px;
    margin-top: 20%;
    margin-left: 10%;
    text-align: center;
    color: #1fa67a;
}
.addPost-left-content>.user-img{
    border-radius: 100px;
    width: 150px;
    height: 150px;
    background-color: #1fa67a;
    margin: 50px 25px 30px 40px;
}
.addPost-left-content>.user-img >img{
    width: 100px;
    margin: 20px;
}
.addPost-left-content>select{
    width: 150px;
    margin: 35px;;
    height: auto;
    color: #1fa67a;
    padding: 8px;

}
.addPost-right-content{
    width: 65%;
    height: auto;
    background-color: honeydew;
    margin: 5%;
    float: left;
    border-radius: 10px;
}
.addPost-right-content>.post-title>input{
    width: 90%;
    height: 50px;
    margin: 5% 6% 5% 4%;
    padding-left: 20px;
    font-size: 20px;
    color: #1fa67a;
}
#cke_editor1{
    margin: 0% 4%;
}
.addPost-submit{
    float: right;
    margin:5%;
}
.addPost-submit>input{
    width: 100px;
    height: 50px;
}
/* -------------- Log In ----
---------------------------- */
.log-in{
    height: 400px;
    width: 500px;
    background-color: #1fa67a;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 70px 40px #ffffff;
}
.log-in-heading{
    padding-top: 10px;
}
.log-in-heading >h1{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 25px #ffffff;
}
.log-in>.email >input
{
    margin-left: 90px;
    height: 40px;
    width: 300px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    margin-top: 20px;
    font-size: 20px;
    color: #a5a9ac;
    padding-left: 20px;
}

.log-in>.password >input
{
    margin-left: 90px;
    height: 40px;
    width: 300px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    margin-top: 40px;
    font-size: 20px;
    color: #a5a9ac;
    padding-left: 20px;
}

.log-in>.button{
    float: left;
}
.log-in>.button >input
{
   margin-left: 90px;
    height: 50px;
    width: 100px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    margin-top: 40px;
    color: orangered;
    background-color: #FEC711;
    font-weight: bold;
}
.create-an-account{
    float: left;
}
.create-an-account >a>h3{
    margin-left: 50px;
    margin-top: 50px;
    color: white;
}
.create-an-account>a{
    text-decoration: none;
}
/*---------Sign Up ------
------------------------*/
.sign-up{
    height: 400px;
    width: 500px;
    background-color: #1fa67a;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 70px 40px #ffffff;
}
.sign-up-heading{
    padding-top: 10px;
}
.sign-up-heading >h1{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 25px #ffffff;
}
.first-name >input
{
    margin-left: 50px;
    height: 25px;
    width: 170px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
}
.last-name >input
{
    margin-left: 50px;
    height: 25px;
    width: 170px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
}
.sign-up>.email >input
{
    margin-left: 50px;
    height: 25px;
    width: 400px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    margin-top: 20px;
}

.sign-up>.password >input
{
    margin-left: 50px;
    height: 25px;
    width: 170px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    margin-top: 20px;


}
.sign-up>.confirm-password >input
{
    margin-left: 50px;
    height: 25px;
    width: 170px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    margin-top: 20px;

}
.all-ready-account p{
    float: left;
    color: white;
    margin-left: 50px;
    margin-top: 40px;
}
.button{
    float: left;
}
.button >input
{
    margin-left: 70px;
    height: 50px;
    width: 100px;
    font-size: 14px;
    text-shadow: 5px 5px 25px #a5a9ac;
    font-weight: lighter;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #ffffff;
    float: left;
    margin-top: 20px;
    color: orangered;
    background-color: #FEC711;
    font-weight: bold;


}
.facbook-sign-in{
    margin-top: 0px;
    float: left;
    margin-left: 40px;
}
.facbook-sign-in >a img{
    width: 200px;
    height: 70px;
    float: left;
}
.google-sign-in{
    margin-top: 13px;
    margin-left: 40px;
    float: left;
}
.google-sign-in >a img{
    width: 180px;
    height: 40px;
    float: left;
}

@media only screen and (max-width: 320px) {
    .main-container{
        width: 320px;
        background-color: white;
    }
    .content-right{
        display: none;
    }
    .header{
        width: 320px;
    }
    .logo{
        width: 20%;
        margin-right: 0;
    }
    .notifications{
        display: none;
    }
    .menu ul{
        padding: 0;
    }
    .menu >ul >li{
        width: auto;
        font-size: 12px;
        float: left;
        margin-left: 0;
        font-weight: bold;
        padding-left: 25px;

    }
    .content-left{
        width: 320px;
        padding-left: 0px;
        padding-top: 20px;

    }
    .content-left>.post{
        width: 320px;
        height: 700px;
        border-radius: 0px;
        clear: both;
        margin-bottom: 20px;
        margin-top: 10px;


    }

    .content-left>.post>.post-left-content{
        width: 320px;

    }
    .post-left-content{
        clear: both;
    }
    .post-left-content>.user-img{
        width: 50px;
        height: 50px;
        float: left;

    }
    .post-left-content>.user-img>img{
        width: 40px;
        margin: 5px;
        float: left;
    }
    .post-left-content>.user-name{
        width: 100px;
        margin-left: 40px;
        padding-left: 25px;
        height: 45px;
        float: left;
        margin-top: 50px;
        border-radius: 50px;
    }
    .post-left-content>.user-name>h3{
        font-size: 15px;
        float: left;
        margin-top: 0;
    }
    .rating{
        display: none;
    }
    .post-right-content{
        width: 320px;
        margin-left: 0px;
        border-radius: 0px;
        margin-top: 0px;
        height: 600px;
        text-align: justify;
        margin-bottom: 0;
        clear: both;
    }
    .footer{
        margin-top: 40px;
    }

}

